<?php

/* Source files */
$origin = "/var/www/html/";
$target = "/var/www/html/";

$private_key = "/home/admin/.ssh/admin.pem";
$host = "192.168.2.3";
$username = 'admin';
$port = 22;

/* MySQL Dump & Restore */
/* origin */
$my_target = "/tmp";
$my_config = "/var/www/synchronous/mysql_config";
$my_host = "localhost";
$my_dbname = "stg_sample_db";

/* target */
//$my_t_target = "/var/www";
$my_t_target = "/tmp";
$my_t_config = "/var/www/synchronous/mysql_config";
$my_t_host = "remotehost.example.com";
$my_t_dbname = "prd_sample_db";